<!DOCTYPE html>
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>harrewijnen.net</title>
            <link href="/static/app.css" rel="stylesheet" type="text/css" />
        </head>
        <body>

            <header class="header">
                <h1>A very basic blog!</h1>
                <small>Running on Pivotal CF.</small>
            </header>

            <main class="content">
                @RenderBody()
            </main>

        </body>
    </html>